@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
body {
    background-color: #B0E0E6;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: fadeInAnimation 2s ease-in-out;
}

.p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding: 5vh 5vw;
    gap: 0.5rem;
}
#avatar {
    position: relative;
    width: 10rem;
    height: 10rem;
}

#avatar img {
    width: 100%;
    height: 100%;
}
#avatar::before{
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 5px dashed #fff;
    animation: rotateBorder 30s linear infinite;
    pointer-events: none;
}
#avatar:hover::before {
    animation: borderShape 0.5s ease-in;
    border-radius: 73% 27% 70% 30% / 27% 72% 28% 73%;
}

#intro h1 {
    font-family: "Caveat", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 6rem;
    color: transparent;
    background: linear-gradient(150deg, #E07A9F, #7F4B93);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.3;
    margin-top: -1rem;
    margin-bottom: 0;
}

#intro div {
    display: block;
    text-align: center;
}

#typed-desc span, #typed, .typed-cursor {
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    min-height: 2vh;
    font-style: italic;
    color: #30577D;
}

#links {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

#links a {
    font-size: 2rem;
    color: #A6B5CD;
}

#links i:hover {
    color: #BDC0D0;
}

#links a:visited {
    color: #A6B5CD;
}

#links .label {
    display: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes borderShape {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 73% 27% 70% 30% / 27% 72% 28% 73%;
    }
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}