@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');
body {
    background-color: #B0E0E6;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: fadeInAnimation 2s ease-in-out;
}

.p1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    padding: 5vh 5vw;
}

.p1 img {
    width: auto;
    height: auto;
    max-height: 30vh;
    border: 3px dashed #fff;
    border-radius: 68% 32% 33% 67% / 67% 63% 37% 33%;
}

#intro h1 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
    color: transparent;
    background: linear-gradient(150deg, #E07A9F, #7F4B93);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.3;
    margin-top: -1rem;
}

#intro h2 {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 300;
    font-size: 4vh;
    min-height: 2vh;
    font-style: italic;
    color: #30577D;
    text-align: center;
}

#links {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
}

#links a {
    font-size: 2rem;
    color: #A6B5CD;
}
#links i:hover {
    color: #BDC0D0;
}
#links a:visited {
    color: #A6B5CD;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}