@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&display=swap');
body {
    background-color: #B0E0E6;
    height: 100vh;
    overflow-y: hidden;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    animation: fadeInAnimation 2s ease-in-out;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50vw;
    height: 90vh;
    padding: 5vh 5vw;
}

#intro h2 {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    text-align: right;
    color: transparent;
    background: linear-gradient(150deg, #E07A9F, #7F4B93);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.3;
    margin-bottom: -5vh;
}

#intro h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 8vh;
    color: #00274D;
    font-style: normal;
}
#intro h3 {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 300;
    font-size: 4vh;
    height: 1vh;
    color: #30577D;
    font-style: normal;
    text-align: right;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 90vh;
    padding: 5vh 5vw;
}
.right img {
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 70vh;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}