/* default configs */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Hind+Siliguri:wght@300&family=Righteous&display=swap');
:root{
    --theme-color: #f77808;
    --bg-color: #f77808b3;
    --input-color: #381B02;
    --header-color: #784D28;
    --theme-font: 'Anton', sans-serif;
    --heading-font: 'Bangers', cursive;
    --option-font: 'Righteous', cursive;
    --content-font: 'Hind Siliguri', sans-serif;
    --checked-bg-color: #3CC780;
    --contrast-font-color: #ffffffd4;
    --unchecked-bg-color: #ffffffd4;
    --basic-font-color: #fff;
    --hover-bg-color: #FBCEB0;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--content-font);
    user-select: none;
}
body{
    position: relative;
    display: block;
}
p{
    text-align: left;
}
/* header section */
header{
    position: relative;
    height: 200px;
    background-color: var(--header-color);
}
header::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .95;
    background-size: cover;
}
nav{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    float: right;
}
ul{
    text-align: right;
    padding-right: 40px;
}
ul li, ul li a{
    display: inline-block;
}
ul li a, ul li a:visited{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: var(--basic-font-color);
    padding: 20px 5px 0px 5px;
}
ul li a::before{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all .3s ease-in-out;
}
a:hover::before{
    bottom: 0;
    height: 30px;
}
h1{
    position: relative;
    top: 90px;
    left: 20%;
    width: 50%;
    font-family: var(--theme-font);
    font-size: 40px;
    letter-spacing: 3px;
    opacity: .9;
    color: var(--basic-font-color);
}
/* main section */
main{
    display: flex;
}
.card{
    position: relative;
    margin: 40px;
    width: calc(100% - 80px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.container{
    display: flex;
    flex: row wrap;
}
.item-left{
    background-color: var(--bg-color);
    width: 70%;
    padding: 50px;
}
.item-left h2, #deliver h2{
    font-family: var(--heading-font);
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: var(--basic-font-color);
}
.item-left p{
    text-align: left;
    color: var(--contrast-font-color);
    padding-top: 10px;
}
.item-right{
    width: calc(100% - 100px);
    padding: 50px;
}
.bg-shape{
    display: flex;
    width: 70px;
    height: 70px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
img.page-icon{
    width: 50px;
}
form#form-contact, #deliver{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.entry{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 55px;
    margin: 2px;
    border: 2px solid var(--bg-color);
}
#form-contact > .entry:nth-child(1), 
#form-contact > .entry:nth-child(2), 
#deliver > .entry:nth-child(2), 
#deliver > .entry:nth-child(3),
#deliver > .entry:nth-child(9),
#deliver > .entry:nth-child(10)
{
    width: calc(50% - 4px);
}
#deliver > .entry:nth-child(6),
#deliver > .entry:nth-child(8){
    width: calc(50% / 2 - 4px);
}
#deliver > .entry:nth-child(7){
    width: calc(50% - 4px);
}
.entry label{
    display: block;
    text-align: left;
    margin-left: 5px;
    font-size: 15px;
    color: var(--bg-color);
}
input, textarea, select{
    outline: none;
    border: none;
    color: var(--input-color);
    background-color: transparent;
    display: block;
    margin: 5px;
}
.state-select, input, textarea{
    padding: 0 0 5px 5px;
}
.state-select select{
    appearance: none;
    width: 100%;
    color: var(--input-color);
}
textarea{
    height: 50px;
    resize: none;
}
.button{
    width: 100%;
    justify-content: center;
    display: flex;
}
.button input{
    display: inline-block;
    font-family: var(--option-font);
    padding: 10px;
    width: 170px;
    color: var(--basic-font-color);
    font-size:15px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
.button input:hover{
    color: var(--bg-color);
    background: transparent;
    border: 1px solid var(--bg-color);
}
.diy{
    display: block;
    margin-top: 20px;
}
.topping-items, .size{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
}
.diy h2{
    text-align: left;
    margin: 5px auto 5px 5px;
    font-size: 18px;
}
#deliver h2{
    color: var(--bg-color);
    width: 99%;
    margin-bottom: 10px;
}
.size-crust{
    display: block;
    position: relative;
}
.topping-option, .size-crust label, .diy select{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--unchecked-bg-color);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 1px 0 5px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    margin: 3px;
    transition: all 0.3s ease-out;
}
select{
    border: none;
}
.diy h3, .diy select{
    font-family: var(--option-font);
    font-size: 15px;
}
.diy select{
    border: none;
    appearance: none;
}
.crust::after{
    content: '\25BC';
    position: absolute;
    right: -3px;
    bottom: 0;
    font-size: 15px;
    height: 50px;
    padding: 15px 10px;
    color: var(--unchecked-bg-color);
    background: var(--hover-bg-color);
    pointer-events: none;
    transition: all 0.3s ease-out;
}
.crust:hover::after{
    color: var(--theme-color);
}
.topping-option:hover, .size-crust label:hover{
    transform: scale(1.05);
    background-color: var(--hover-bg-color);
}
.topping-option > *{
    display: inline-block;
}
.topping-option img{
    width: 35px;
    padding: 5px;
    margin: 5px;
}
.topping-option h3, .size-crust h3, .diy select{
    padding-left: 10px;
    color: var(--bg-color);
}
.topping input:checked + label, .size-crust input:checked + label{
    background-color: var(--checked-bg-color);
}
input:checked + label h3{
    color: var(--contrast-font-color);
}
.topping input, .size-crust input{
    display: none;
}
/* Animations */
@keyframes pizza {
    0%{
        left: -100px;
        transform: rotate(-240deg);
    }
    100%{
       left: 0;
    }
    
}
@keyframes about {
    0%{
        transform: scale(0.75);
    }
    15%{
        transform: scale(1.25);
    }
    30%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes contact {
    0%{
        transform: scale(0.25);
    }
}
@keyframes arrow {
    0%{
        left: 100px;
        top: -20px
    }
    79%{
        left: 13px;
        top: -53px;
        transform: scale(1.25);
    }
    100%{
        transform: scale(1.25);
    }
}
@keyframes order {
    0%{
        transform: scale(1.25);
    }
}
#home-icon{
    position: relative;
    animation: pizza 0.5s ease-in;
}
#about-icon{
    position: relative;
    animation: about 0.5s cubic-bezier(0,.52,1,-0.37);
}
#contact-icon{
    animation: contact 0.5s ease-in-out;
}
#order-arrow{
    width: 13px;
    position: relative;
    left: 13px;
    top: -53px;
    animation: arrow 0.5s cubic-bezier(0,.79,1,.23);
}
#order-icon{
    position: relative;
    animation: order 0.5s 0.5s ease-in;
}
/* large image loaded last to increase speed */
header#bg-home::before{
    background-image: url(../img/bg/home.jpeg);
    background-position: right 85%;
}
header#bg-contact::before{
    background-image: url(../img/bg/contact.jpeg);
    background-position: right 75%;
}
header#bg-about::before{
    background-image: url(../img/bg/about.jpeg);
    background-position: right 55%;
}
header#bg-order::before{
    background-image: url(../img/bg/order.jpeg);
    background-position: right 30%;
}