@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Nerko+One&family=Patrick+Hand+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-img: url(../img/paper.webp);
    --label-font: 'Patrick Hand SC', cursive;
    --input-font: 'Edu TAS Beginner', cursive;
    --header-font: 'Nerko One', cursive;
}
body{
    background-image: var(--background-img);
    color: #666;
}
div#container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 30px;
}
div#left, div#right{
    position: relative;
    margin: 20px;
}
div#left{
    border-right: 1px dashed #b7b7b7;
}
div#content{
    margin: 25px;
}
label{
    font-family: var(--label-font);
    font-size: 20px;
    font-style: italic;
}
input{
    display: block;
    font-family: var(--input-font);
    font-size: 20px;
    margin: 10px 0;
    width: 180px;
    border: none;
    color: #666;
    border-bottom: 1px solid #666;
    background-color: transparent;
}
input:focus{
    outline: none;
}
button{
    display: inline-block;
    padding: 5px;
    margin: 10px auto;
    font-family: var(--label-font);
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}
h2{
    font-family: var(--header-font);
    font-size: 45px;
    text-align: center;
    color: rgba(102, 102, 102, 0.91);
    text-decoration: 2px underline rgba(102, 102, 102, 0.55);
    text-underline-offset: 20px;
}
p{
    font-family: var(--input-font);
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}
p#note{
    font-size: 18px;
    color: rgba(255, 117, 51, 0.8);
}
p#story{
    margin-top: 20px;
    text-align: left;
    padding: 30px;
}