@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&family=Press+Start+2P&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --title-font: 'Staatliches', cursive;
    --number-font: 'Press Start 2P', cursive;
    --general-font: 'Oxanium', cursive;
    --border-color: rgba(255, 68, 86, 0.73);
    --background-color: rgba(47, 47, 47, 0.91);
    --general-font-color: rgb(255, 241, 222);
}
body{
    margin: 50px auto;
    width: 700px;
    background-color: var(--background-color);
}
#container{
    padding: 20px;
    text-align: center;
    border: var(--border-color) solid 10px;
}
#desc{
    display: block;
    position: relative;
    margin-bottom: 30px;
}
#desc h1{
    font-family: var(--title-font);
    font-size: 50px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(255,181,0,0.598292661516854) 0%, rgba(255,68,86,0.595483672752809) 50%, rgba(255,181,0,0.6039106390449438) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: #FFB500 -4px 0;
 }
#desc h1::before, #desc h1::after{
    content: "";
    display: inline-block;
    background: url("001-dollar-symbol.png") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 20px;
    animation: shine 1.5s ease-in-out;
}
p{
    font-family: var(--general-font);
    color: var(--general-font-color);
    margin: 10px;
}
#main{
    display: block;
    position: relative;
    margin: 30px auto;
}
.lotto{
    font-family: var(--number-font);
    font-size: 20px;
    color: #FF9100;
    letter-spacing: 3px;
    margin: 30px;
    animation: roll 1s ease-out;
}
.inline{
    position: relative;
    top: 5px;
}
.warning{
    animation: warn 1s linear;
    color: #ff4456;
}
button{
    appearance: none;
    background-color: #FF9100;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: var(--general-font-color);
    cursor: pointer;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 50px;
}
button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
@keyframes shine {
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes warn {
    0%, 50%, 100%{
        color: #ff4456;
    }
    25%, 75%{
        color: var(--general-font-color);
    }
}