@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
}
ul{
    text-align: right;
    background-color: #3B2706;
    padding: 0 20px 0 0;
}
ul li, ul li a{
    display: inline-block;
}
ul li a, ul li a:visited{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px 5px;
    transition: all 500ms;
}
ul li a:hover{
    background-color: #FAA61C;
    color: #3B2706;
}