@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat+Brush&family=Lalezar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --background-img: url(../img/tic-tac-toe.webp);
    --h1-font: 'Lalezar', cursive;
    --h2-font: 'Black Ops One', cursive;
    --p-font: 'Caveat Brush', cursive;
}
body{
    background-image: var(--background-img);
}
#container{
    display: grid;
    grid-template-rows: 130px 1fr;
    margin: 20px;
}
h1{
    font-family: var(--h1-font);
    font-size: 35px;
    letter-spacing: 2px;
}
#score-board{
    border-collapse: collapse;
}
h2, th{
    font-family: var(--h2-font);
    font-size: 25px;
    margin-bottom: 10px;
}
th{
    background-color: #777;
    color: white;
}
tr{
    font-family: var(--h2-font);
    color: #555;
    text-align: center;
    font-size: 20px;
}
#win-1, #ties, #win-2{
    padding: 5px;
}
tr td p{
    color: white;
}
#win-1, #score-1{
    background-color: #f77808;
}
#ties, #score-3{
    background-color: black;
}
#win-2, #score-2{
    background-color: #4699ff;
}
button{
    font-family: var(--p-font);
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 61, 79, 0.91);
}
button:hover{
    border-radius: 0;
    font-size: 21px;
    padding: 6px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#msg{
    grid-column: 1 / 6;
    text-align: center;
}
#score-board, #game, #player-info{
    margin: 10px 20px;
}
#score-board{
    display: none;
    width: 200px;
}
#game{
    display: grid;
    margin: auto;
    width: 400px;
    height: 400px;
    grid-column: 1 / 6;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
}
#game img{
    width: 80px;
    position: relative;
    top: 25px;
}
#player-info{
    grid-column: 1 / 6;
    text-align: center;
    margin: 10px auto;
}
input{
    border: none;
    background-color: #8a8a8a;
    height: 30px;
    padding-left: 5px;
    margin: 2px;
    color: white;
}
::placeholder, input{
    color: white;
    font-family: var(--p-font);
    font-size: 18px;
}
div.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
div.row:nth-child(2){
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
}
div.col:nth-child(2){
    border-left: 5px solid #333;
    border-right: 5px solid #333;;
}
