/* reset browser default margins and paddings */
*{
    padding: 0;
    margin: 0;
}
/* defines body background color and height to make it possible to apply 100% height to its children. 
makes all the children's position relative to the body */
body{
    background-color: #59D6FF;
    height: 100%;
    position: relative;
}
/* a rectangle strip background with a little contrast color, some width and 100% height
z-index puts the background behind kirby.
fixed position to make it not scrollable and no scale for smaller devices.
as the position is fixed, add some distance from left. */
#layer{
    height: 100%;
    position: fixed;
    width: 500px;
    background-color: #0DC2FF;
    z-index: -4;
    left: calc(50% - 250px);
}
/* this is a set of same size triangles to create a pentagon decoration behind Kirby using z-index.
put some top paddings to move it from top edge and fixed the position, add some distance away from left.
position it relatively for all the elements inside */
.triangle-circle{
    padding-top: 50px;
    position: relative;
    left: calc((100% - 500px) / 2);
    z-index: -1;
}
/* defines the triangle details using border, set the color, side lengths of the triangles. 
adjust the absolute postion */
.triangle-circle > div{
    position: absolute;
    left: 82px;
    border-style: solid;
    border-width: 304px 0 160px 336px;
    border-color: #FFF600 transparent transparent transparent;
}
/* there are 5 triangles that need to rotate 72degree from one another in order to form a pentagon shape.
except #c-1 which is originally 0 deg. */
#c-2{
    transform: rotate(72deg);
}
#c-3{
    transform: rotate(144deg);
}
#c-4{
    transform: rotate(216deg);
}
#c-5{
    transform: rotate(288deg);
}
/* defines the container of all kirby related parts, so that the position could be moved as a whole.
set a absolute position to the middle of the screen width */
#kirby{
    position: absolute;
    left: calc(50% - 250px);
}
/* this is kirby's body color with position and size set.
as the individual body parts is made of various odd shapes borders, they could not cover everywhere when filled with color.
this is a simple way to fill out the main color of the body so that it is coherent. */
#bg-body{
    position: absolute;
    top: 133px;
    left: 93px;
    width: 320px;
    height: 304px;
    background-color: #FED5CE;
    border-radius: 50%;
}
/* this is an odd shape to draw the center of the hairtie, with color and position defined as well.
rotate the border line for coherence.
using border radius to draw lines of the shape, z-index made it not cover the face of the kirby. */
#hairtie-center{
    position: absolute;
    top: 111px;
    left: 212px;
    width: 48px;
    height: 32px;
    background-color: #FF7D9F;
    z-index: -1;
    border-top: 5px solid black;
    border-radius: 76% 24% 10% 90% / 100% 57% 43% 0%;
    transform: rotate(10deg);
}
/* this is an odd shape to draw the left part of the hairtie, with color and position defined as well.
rotate the border line for coherence.
using border radius to draw lines of the shape, z-index made it not cover the face of the kirby. */
#hairtie-left{
    position: absolute;
    top: 96px;
    left: 94px;
    width: 128px;
    height: 128px;
    background-color: #FF7D9F;
    z-index: -1;
    border-top: 5px solid black;
    border-radius: 93% 66% 78% 22% / 91% 69% 31% 49%;
    transform: rotate(-36deg);
}
/* this is an odd shape to draw right-top part of the hairtie, with color and position defined as well.
rotate the border line for coherence.
using border radius to draw lines of the shape, z-index made it not cover the face of the kirby. */
#hairtie-right-top{
    position: absolute;
    top: 66px;
    left: 277px;
    width: 144px;
    height: 112px;
    background-color: #FF7D9F;
    z-index: -1;
    border-top: 5px solid black;
    border-radius: 66% 34% 30% 65% / 100% 42% 56% 0%;
    transform: rotate(37deg);
}
/* this is an odd shape to draw the right-bottom part of the hairtie, with color and position defined as well.
rotate the border line for coherence.
using border radius to draw lines of the shape, z-index made it not cover the face of the kirby. */
#hairtie-right-bottom{
    position: absolute;
    top: 166px;
    left: 374px;
    width: 48px;
    height: 64px;
    background-color: #FF7D9F;
    z-index: -1;
    border-right: 5px solid black;
    border-radius: 47% 53% 64% 36% / 40% 48% 52% 60%;
    transform: rotate(8deg);
}
/* this is the head curve line of kirby's body.
with proper position and size defined, rotate for coherence. */
#head{
    position: absolute;
    top:130px;
    left: 80px;
    width: 320px;
    height: 160px;
    border-radius: 160px 160px 0 0;
    border-top: 5px solid black;
    transform: rotate(-10deg);
}
/* this is the facial frame position of kirby, with children's position defined for easier adjustment. */
.face{
    position: relative;
    top: 194px;
    left: 154px;
}
/* these are two ovals to form the black background of kirby's eyes.
as they are the same shape, so defined together with proper size and color, rotate for coherence. 
absolute position for precise adjustment. */
#left-eye-bg, #right-eye-bg{
    position: absolute;
    width: 48px;
    height: 96px;
    background-color: black;
    border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;
    transform: rotate(3deg);
}
/* adjust right eye in proper position */
#right-eye-bg{
    left: 72px;
}
/* these are the white oval sparks in kirby's eyes, defined with size, shape, color and position. */
#left-eye-spark-top, #right-eye-spark-top{
    position: absolute;
    top: 8px;
    left: 11px;
    width: 24px;
    height: 48px;
    background-color: white;
    border-radius: 50% 50% 49% 51% / 47% 48% 52% 53%;
}
/* sparks continued */
#left-eye-spark-bottom, #right-eye-spark-bottom{
    position: absolute;
    top: 71px;
    left: 17px;
    width: 16px;
    height: 19.2px;
    background-color: white;
    border-radius: 50%;
}
/* these are the face blush of kirby, defined with size, position, color and shape. z-index makes it visible on top of the face. */
#blush-left, #blush-right{
    position: absolute;
    top:81px;
    left: -41px;
    width: 43.2px;
    height: 32px;
    z-index: 1;
    background-color: #FEA7B0;
    border-radius: 50%;
}
/* right blush's position override */
#blush-right{
    left: 120px;
}
/* defines kirby's smiling mouth with a curve line, as well as position, color and size. */
#mouth{
    position: absolute;
    width: 28.8px;
    height: 32px;
    top: 75px;
    left: 44px;
    border-bottom: 5px solid black;
    border-radius: 50% 50% 73% 65% / 50% 50% 60% 60%;
}
/* define kirby's left leg with shape, color, position and size.
rotate for proper looking. */
#leg-left{
    position: absolute;
    top: 319px;
    left: 42px;
    width: 112px;
    height: 144px;
    background-color: #FF7D9F;
    border: 5px solid black;
    border-radius: 50%;
    transform: rotate(-25deg);
}
/* define kirby's right leg with shape, color, position and size.
rotate for proper looking. */
#leg-right{
    position: absolute;
    top: 301px;
    left: 286px;
    width: 128px;
    height: 144px;
    background-color: #FF7D9F;
    border: 5px solid black;
    border-radius: 50%;
    transform: rotate(-13deg);
}
/* define kirby's left hand with shape, color, position and size.
rotate for proper looking. */
#hand-left{
    position: absolute;
    top: 256px;
    left: 40px;
    width: 80px;
    height: 80px;
    background-color: #FED5CE;
    border-left:5px solid black;
    border-radius: 84% 0% 0% 16% / 79% 83% 20% 55%;
    transform: rotate(-3deg);
}
/* define kirby's right hand with shape, color, position and size.
rotate for proper looking. */
#hand-right{
    position: absolute;
    top: 253px;
    left: 367px;
    width: 96px;
    height: 112px;
    background-color: #FED5CE;
    border-right: 5px solid black;
    border-radius: 0% 65% 50% 0% / 0% 50% 52% 100%;
    transform: rotate(-20deg);
}
/* define kirby's bottom with shape, color, position and size.
rotate for proper looking. z-index for not covering the limbs of kirby. */
#bottom{
    position: absolute;
    top:339px;
    left: 161px;
    width: 144px;
    height: 96px;
    background-color: #FED5CE;
    z-index: -1;
    border-bottom: 5px solid black;
    border-radius: 30% 70% 47% 68% / 66% 57% 20% 35%;
}